.App {
  text-align: center;
}
body {
  background-color: rebeccapurple;
}

input {
  width: 25%;
  padding: 10px;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #fbb034;
  font-size: 20px;
  color: #f2f2f2;
}

h1 {
  font-size: 60px;
  color: #fbb034;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.9);
}

#cityName {
  font-size: 35px;
  font-weight: 500;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.8);
}
#temp {
  font-size: 50px;
  font-weight: 500;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.1);
}

#desc {
  font-size: 25px;
  font-style: italic;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.8);
}

#minMax {
  font-size: 24px;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.8);
}
/* h2 {
  color: #f2f2f2;
} */

.city {
  color: #f2f2f2;
}
